<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893437086154-pgt4gmaoc9lo4m284jtv6d9tl0r66etp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893437086154-pgt4gmaoc9lo4m284jtv6d9tl0r66etp</string>
	<key>API_KEY</key>
	<string>AIzaSyAJFsOIOxTR-Mi3QBh5u6bHBhL8fZ04GSU</string>
	<key>GCM_SENDER_ID</key>
	<string>893437086154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.mnsoftech.Green-Leaf</string>
	<key>PROJECT_ID</key>
	<string>green-leaf-e15b7</string>
	<key>STORAGE_BUCKET</key>
	<string>green-leaf-e15b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893437086154:ios:1a99129e29a29ab8</string>
	<key>DATABASE_URL</key>
	<string>https://green-leaf-e15b7.firebaseio.com</string>
</dict>
</plist>